(
    name: "teapot",
    nodes: [
        (
            name: "teapot",
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            mesh: Some((path: "assets/teapot.obj")),
        ),
    ],
)
