(
    name: "bunny",
    camera: Some((
        eye: (-0.05, 0.12, 0.25),
        target: (-0.05, 0.10, 0.0),
        up: (0.0, 1.0, 0.0),
        projection: Perspective(
            fov_y_degrees: 60.0,
            aspect: 1.3333334,
            znear: 0.01,
            zfar: 10.0,
        ),
    )),
    nodes: [
        (
            name: "bunny",
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            mesh: Some((path: "assets/obj/bunny.obj")),
            components: {
                "Orbit": (radius: 0.06, height: 0.0, speed: 0.8, angle: 0.0),
            },
        ),
    ],
)
